html,
body {
	padding: 0;
	margin: 0;
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.noteTakingPane,
.referencePane {
	/* Because we're handling it */
	touch-action: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	/* Don't allow text selection (on iPad, pulls up the context menu) */
	user-select: none;
	-webkit-user-select: none;
}

.noteTakingPane {
	overflow: hidden;
	flex: auto;
}

.referencePane {
	overflow-y: scroll;
	position: relative;
	/* the smallest value that doesn't overflow */
	width: calc(43vw - 120px);
}

/* For turning default touch on and off */
.touchDefault {
	touch-action: default;
	background-color: red !important;
}
.touchNone {
	touch-action: none;
}
