.root {
	margin: 0;
	padding: 0;
	height: 100%;
}

.App {
	display: flex;
	margin: 0;
	height: 100%;
	min-height: 100%;
}

.referencePane {
	overflow-y: scroll;
}

.noteTakingPane,
.separator-col {
	/* Because we're handling it */
	touch-action: none;
}
