body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

html,
body {
	padding: 0;
	margin: 0;
}

.App {
	font-family: "Segoe UI", sans-serif;
	font-size: 1.2rem;
	text-align: center;
	overflow: hidden;
}

/* ########################### Split Pane Stuff ########################## */

.split-pane-col {
	width: 100vw;
	height: 90;
	display: flex;
	flex-direction: column;
}

.split-pane-row {
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: row;
}

.split-pane-left {
	flex: 1;
	overflow-y: scroll;
}

.split-pane-right {
	background-color: #fff;
	background-image: linear-gradient(
			90deg,
			transparent 79px,
			#abced4 79px,
			#abced4 81px,
			transparent 81px
		),
		linear-gradient(#eee 0.1em, transparent 0.1em);
	background-size: 100% 1.2em;
	overflow: hidden;
	flex: 1;
}

.split-pane-top,
.split-pane-bottom {
	background-color: #ccc;
	text-align: left;
	padding: 2%;
}

.separator-col {
	border: 5px solid black;
	cursor: col-resize;
	width: 30px;
}

.separator-row {
	border: 5px solid black;
	cursor: row-resize;
}

.noteTakingPane {
	margin-top: 50px;
	/* Because we're handling it */
	touch-action: none;
}

.konvajs-content {
	/* Because we're handling it */
	touch-action: none;
}

/* ########################### Writing Toolbar Stuff ########################## */
.container {
	display: flex;
	width: 100%;
	/* gap: 10px; */
	padding: 10px;
	max-width: 1050px;
}

section {
	background: #fff;
	border-radius: 7px;
}

.tools-board {
	display: flex;
	flex-direction: row;
	width: 300px;
	padding: 15px 22px 0;
	position: absolute;
	top: 0;
	right: 0;
}

.tools-board .row {
	margin-bottom: 20px;
}

.row .options {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 10px 0 0 5px;
}

.row .options .option {
	display: flex;
	cursor: pointer;
	align-items: center;
	margin-bottom: 10px;
}

.option:is(:hover, .active) img {
	filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
		brightness(100%) contrast(100%);
}

.option :where(span, label) {
	color: #5a6168;
	cursor: pointer;
	padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label) {
	color: #4a98f7;
}

.option #fill-color {
	cursor: pointer;
	height: 14px;
	width: 14px;
}

#fill-color:checked ~ label {
	color: #4a98f7;
}

.option #size-slider {
	width: 100%;
	height: 5px;
	margin-top: 10px;
}

.colors .options {
	display: flex;
	justify-content: space-between;
}

.colors .option {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin-top: 3px;
	position: relative;
}

.colors .option:nth-child(1) {
	background-color: #fff;
	border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
	background-color: #000;
}

.colors .option:nth-child(3) {
	background-color: #e02020;
}

.colors .option:nth-child(4) {
	background-color: #6dd400;
}

.colors .option:nth-child(5) {
	background-color: #4a98f7;
}

.colors .option.selected::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	height: 12px;
	width: 12px;
	background: inherit;
	border-radius: inherit;
	border: 2px solid #fff;
	transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
	border-color: #ccc;
}

.option #color-picker {
	opacity: 0;
	cursor: pointer;
}
